<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title></title>
	
	

	

	<link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<body>
	
	<script>
		window.onload = function(){
			// initialize variables
			var canvas = document.createElement("canvas"),
				c      = canvas.getContext("2d"),
				particles = {},
				particleIndex = 0,
				particleAmount = 5;
			
			function rgbRange(){
				return Math.random() * 255;
			}

			//create dimension properties that will be used when we create our full page fillRectangle
			canvas.width = window.innerWidth;
			canvas.height = window.innerHeight;

			//create a canvas element
			document.body.appendChild(canvas);

			//fill the main canvas with the color black and set it equal to dimensions provided earlier
			c.fillStyle = "black";
			c.fillRect(0, 0, canvas.width, canvas.height);


			//make a particle object in the form of a function
			function Particle(){
				
				//give the particle an intitial position
				this.floor = 600;

				this.x = Math.random() * canvas.width;
				this.y = 0 + Math.random() * 1000;

				

				//increment a global variable to allow us to push each new particle into the object provided above
				this.id = particleIndex++;
				//set the object equal to the newly created particle at the next index
				particles[particleIndex] = this;
				this.id = particleIndex;

				
				//give each particle a unique random velocity
				this.vx = .1;
				this.vy = .1;

				//give each particle a gravity constant
				this.gravity = -.02;

				

				//give the particle a starting and ending point
				this.life = 0;
				this.maxLife = Math.random() * 20 + 80;
				
				this.alphaRadians = 0;
				this.alpha = 0;
				this.radius = 3 * Math.random();
				this.rgbGen = "rgba("+ Math.floor(Math.random() * 20) + ", "+ Math.floor(Math.random() * 255) +", " + Math.floor(Math.random() * 160);
				
				this.draw = function(){

					
					//alter the particles position by adding the velocity to the position element each frame
					this.x += this.vx;
					this.y += this.vy;

					this.vy += this.gravity;
					
					//keep track of the current age of the particle
					this.life++;

					//create the particle and gives it the newly altered position properties
					c.beginPath();
					c.arc(this.x, this.y, this.radius, 0, 2 * Math.PI, true);
					c.fill();
					
					
					this.alpha = Math.sin(this.alphaRadians);

					c.fillStyle = this.rgbGen  + ", "+ this.alpha +")";
					
					this.alphaRadians += (Math.PI / this.maxLife);
					
					
					//at a certain age, delete the particle in the particle array at the index provided via the id.
					

					
					if (this.life > this.maxLife) {
						delete particles[this.id];
					}
				}
			}

			

			//create 10 new particles
			function emit(){
				for (i = 0; i < particleAmount; i++) {
					new Particle;
				}
			}	

			//alter particles values over time with a setInterval function
			setInterval(function(){
				//erases the screen at each new frame;
				c.fillStyle = "black";
				c.fillRect(0, 0, canvas.width, canvas.height);
				emit();
				//calls the draw method on each particle for each frame. This is what creates the appearance of movement
				for (var i in particles) {
					particles[i].draw();
				}

			}, 25);


			


			
		};
		

	
	</script>
</body>
</html>
