<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title></title>

	<link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<body>

		
	
		<form class="slider-form">
			<h1>Move the sliders for various effects.</h1>
			<input type="range" name="value1" min="0" max="10">
			<input type="range" name="value1" min="0" max="10">
			<input type="range" name="value1" min="0" max="10">
			<input type="range" name="value1" min="0" max="10">
		</form>


		<script type="text/javascript" src="js/app.js"></script>
</body>
</html>
