@import url(https://fonts.googleapis.com/css?family=VT323);


* {
	margin: 0;
	padding: 0;
}
html, body {
  position: absolute;
	background-color: black;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
canvas {
	margin: 0;
	padding: 0;
	z-index: 0;
}

.contact {
  font-family: arial;
  font-size: 11px;
  color: rgba(255, 255, 255, .9);
}

.contact span {
  font-size: 14px;
  color: rgb(120, 135, 255);
}

.slider-form {
	position: absolute;
	width: 130px;
	height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
	background-color: none;
	border-radius: 0px 0px 2px 0px;
}
.wrapper {
  display: block;
  position: absolute;
  margin: 0;
  margin-left: 0px;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
  border-width: 0px 1px 0px 0px;
  border-color: lightblue;
  border-style: solid;
  background-color: rgba(255, 255, 255, .90);
  
}
.wrapper > * {
  position: relative;
}

.wrapper h1 {
	width: 120%;
  margin-bottom: -35px;
  margin-top: 0px;
  margin-left: 0px;
  padding: 3px;
	font-size: 21px;
	font-family: 'VT323', arial;
	color: black;


}
.wrapper h4 {
  width: 100%;
  font-size: 15px;
  margin-top: 26px;
  font-family: 'VT323', arial;
  text-align: center;
  color: rgb(15, 15, 15);
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .1);
  
  z-index: 0;
}
#top-label {
  margin-top: 9px;
}
#vortex-size {
  margin-top: 7px;
}
#density {
  margin-top: 13px;
}
.wrapper select {
  margin: 0;
  margin-top: 20px;
  width: 100%;
}
.wrapper button {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-left: -27px;
  width: 184px;
  height: 45px;
  border-width: 0px;
  border-radius: none;
  background-color: rgb(120, 135, 255);
  text-decoration: underline;
  font-size: 19px;
  color: white;
  font-family: arial;
  transition: background-color 1s;
  -webkit-transition: background-color 1s;
}
button:hover {
  background-color: rgb(90, 90, 160);
  cursor: pointer;
}

input[type=range] {

  -webkit-appearance: none;
  width: 100%;
  float: left;
  margin-top: 8px;
  
  z-index: 5;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.7px;
  cursor: pointer;
  box-shadow: 5.1px 5.1px 1px rgba(0, 0, 0, 0.07), 0px 0px 5.1px rgba(13, 13, 13, 0.07);
  background-color: black;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 13px;
  width: 13px;
  border-radius: 50%;

  background: rgb(120, 135, 255);
  cursor: pointer;
  -webkit-appearance: none;
 margin-top: -6px;

  
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 1.7px;
  cursor: pointer;
  box-shadow: 5.1px 5.1px 1px rgba(0, 0, 0, 0.07), 0px 0px 5.1px rgba(13, 13, 13, 0.07);
  background-color: black;

  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 13px;
  width: 13px;
  border-radius: 50%;

  background: rgb(120, 135, 255);
  cursor: pointer;
  margin-top: -6px;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 4.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;

}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 5.1px 5.1px 1px rgba(0, 0, 0, 0.07), 0px 0px 5.1px rgba(13, 13, 13, 0.07);
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 5.1px 5.1px 1px rgba(0, 0, 0, 0.07), 0px 0px 5.1px rgba(13, 13, 13, 0.07);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 14px;
  width: 44px;
  border-radius: 0px;
  background: rgb(120, 135, 255);
  cursor: pointer;
  height: 4.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #cee1f1;
}



